@use '../../../assets/scss/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  background-color: #f1f3f7;

  @media (max-width: 991px) {
    height: auto;
    min-height: 100svh;
    overflow-y: auto;
  }
}

.main {
  flex: 1;
  /* DemoHeader 높이 68rem 확보 */
  margin-top: 68rem;
  height: calc(100svh - 68rem);
  display: flex;
  overflow: hidden;

  @media (max-width: 991px) {
    margin-top: 68rem;
    height: auto;
    min-height: calc(100svh - 68rem);
    flex-direction: column;
    overflow: visible;
  }
}
